<button mat-button [matMenuTriggerFor]="aboveMenu" routerLink="">Acceuil</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/pole-esport">pôle Esport</button>
  <button mat-menu-item routerLink="/pole-event">pôle Evenementiel</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Qui sommes nous ?</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/presentation">Présentation</button>
  <button mat-menu-item routerLink="/mission">Nos missions</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="beforeMenu" routerLink="/news">News</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item  routerLink="/event">Event</button>
  <button mat-menu-item  routerLink="/agenda">agenda</button>
  <button mat-menu-item  routerLink="/stream">Stream</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="afterMenu">Résaux sociaux</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item >  
    <a href="https://www.facebook.com/wolfblue.esport.7" target="_blank">facebook</a>
</button>
  <button mat-menu-item >
     <a href="https://twitter.com/EsportWolfblue" target="_blank">twitter</a>
  </button>
  <button mat-menu-item >
         <a href="https://www.twitch.tv/WolfblueEsport" target="_blank">twitch</a>
  </button>
</mat-menu>
